@model PickMovie.Models.Users.UserViewModel 

@{ 
    ViewBag.Title = "Profile - ";
    var user = await this.userManager.GetUserAsync(User);
    Layout = null;
    var avatar = "";
    avatar = String.IsNullOrWhiteSpace(Model.Avatar) ? "https://www.pikpng.com/pngl/b/80-805523_default-avatar-svg-png-icon-free-download-264157.png" : Model.Avatar;
}



<div class="container-fluid">
    <div class="col" align="center">
        <div class="profile-info col">
            <div class="user-heading round mb-1">
                <img src="@avatar"/>
                <h1>@Model.Username</h1>
                <span><i class="fas fa-envelope"> @Model.Email</i></span><br />
            </div> 
            <div class="card-body text-left">
                <ul class="list-group">
                    <li class="list-group-item">test</li>
                    <li class="list-group-item">test</li>
                    <li class="list-group-item">test</li>
                    <li class="list-group-item">test</li>
                    <li class="list-group-item">test</li>
                </ul>
            </div>
        </div>
    </div>
</div>
